body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 45vh;
    background-color: rgb(255, 250, 250);
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 120px;
}
.container div{
    background-color: white;
    padding: 12px 5rem;
}
 h2{
    font-size: 5rem;
    font-weight: 700;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height:1.2px ;
}
p{
    font-size: 2rem;
}
.first{
    border-bottom: rgb(252, 11, 11) solid 6px;
}
.second{
    border-bottom: orange solid 6px;
}
.third{
    border-bottom: magenta solid 6px;
}
